attrs==22.1.0
coverage==6.5.0
iniconfig==1.1.1
marshmallow==3.18.0
marshmallow-dataclass==8.5.9
mccabe==0.7.0
packaging==21.3
pluggy==1.0.0
py==1.11.0
pycodestyle==2.9.1
pyparsing==3.0.9
tomli==2.0.1
typing-inspect==0.8.0
typing_extensions==4.3.0
